<div class="dashboard">
  <!-- Mobile Menu Button -->
  <button class="menu-btn" (click)="toggleSidebar()">
    ☰
  </button>

  <!-- Overlay for closing sidebar on mobile -->
  <div class="sidebar-overlay" [class.open]="isSidebarOpen" (click)="closeSidebar()"></div>

  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-header">
      <h2> Envíos</h2>

      <div class="user-info" *ngIf="currentUser">
        <p class="user-name">{{ currentUser.nombre }}</p>
        <span class="user-role" [class]="'role-' + currentUser.rol">
          {{ currentUser.rol }}
        </span>
      </div>
    </div>

    <nav class="sidebar-nav">
      <!-- Administrador -->
      <a *ngIf="currentUser?.rol === 'administrador'" routerLink="/dashboard/admin" routerLinkActive="active"
        (click)="closeSidebar()">
        Panel Admin
      </a>
      <a *ngIf="currentUser?.rol === 'administrador'" routerLink="/dashboard/predicciones" routerLinkActive="active"
        (click)="closeSidebar()">
        Mis predicciones
      </a>


      <!-- Cliente -->
      <a *ngIf="currentUser?.rol === 'cliente'" routerLink="/dashboard/cliente" routerLinkActive="active"
        (click)="closeSidebar()">
        Mis Envíos
      </a>
      <a *ngIf="currentUser?.rol === 'cliente'" routerLink="/dashboard/nuevo-envio" routerLinkActive="active"
        (click)="closeSidebar()">
        Nuevo Envío
      </a>

      <!-- Repartidor -->
      <a *ngIf="currentUser?.rol === 'repartidor'" routerLink="/dashboard/repartidor" routerLinkActive="active"
        (click)="closeSidebar()">
        Mis Entregas
      </a>


      <hr />

      <hr />

      <a routerLink="/dashboard/ruta-que-no-existe" class="debug-link">Probar Error 404</a>

      <button class="btn-logout" (click)="logout()">
        Cerrar Sesión
      </button>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>