<div class="dashboard">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2> Envíos</h2>

      <div class="user-info" *ngIf="currentUser">
        <p class="user-name">{{ currentUser.nombre }}</p>
        <span class="user-role" [class]="'role-' + currentUser.rol">
          {{ currentUser.rol }}
        </span>
      </div>
    </div>

    <nav class="sidebar-nav">
      <!-- Administrador -->
      <a *ngIf="currentUser?.rol === 'administrador'" routerLink="/dashboard/admin" routerLinkActive="active">
         Panel Admin
      </a>
      <a *ngIf="currentUser?.rol === 'administrador'" routerLink="/dashboard/predicciones" routerLinkActive="active">
        Mis predicciones
      </a>


      <!-- Cliente -->
      <a *ngIf="currentUser?.rol === 'cliente'" routerLink="/dashboard/cliente" routerLinkActive="active">
         Mis Envíos
      </a>
      <a *ngIf="currentUser?.rol === 'cliente'" routerLink="/dashboard/nuevo-envio" routerLinkActive="active">
        Nuevo Envío
      </a>

      <!-- Repartidor -->
      <a *ngIf="currentUser?.rol === 'repartidor'" routerLink="/dashboard/repartidor" routerLinkActive="active">
         Mis Entregas
      </a>


      <hr />

      <button class="btn-logout" (click)="logout()">
         Cerrar Sesión
      </button>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
